@import url('https://fonts.googleapis.com/css?family=Libre+Baskerville|Raleway:400,500');
@import '../../node_modules/tingle.js/dist/tingle.min.css';

/* 
/////////
/////
//
/////GLOBALS
//////
//
/////////
/*/

body,
html {
    margin: 0;
    padding: 0;
    background-color: #ddd;
}

body {
    display: flex;
    /* Or do it all in one line
      with flex flow */
    flex-flow: row wrap;
    /* tweak where items line
       up on the row
       valid values are: flex-start,
       flex-end, space-between,
       space-around, stretch */
    align-content: flex-start;
}

a {
    color: #3B96FB;
}

a:hover {
    color: hotpink;
}

h1,
h2,
h3,
h4,
h5,
h6,
button {
    font-family: "Raleway", Arial, serif;
}

h1 {
    font-size: 3em;
}

h2 {
    font-size: 2em;
}

div,
p,
span:not(.tingle-modal__closeIcon) {
    font-family: "Libre Baskerville", Arial, sans-serif;
    line-height: 2.1em;
}

@media (max-width:500px) {
    h1 {
        font-size: 2em;
    }
    h2 {
        font-size: 1.8em;
    }
    h3 {
        font-size: 1.3em;
    }
    p,
    div,
    span {
        font-size: .9em;
    }
}


/*
///
//
/* HEADER 
//
///
//
*/

@media (min-width: 570px) {
    .fa-bars {
        display: none;
    }
}

header {
    width: 100%;
}

header .icon-bar {
    text-align: right;
    background: #3B96FB;
}

header svg {
    font-size: 1.8em !important;
    margin: .5em;
    color: white;
}

@media (min-width: 600px) {
    header svg {
        font-size: 2.3em !important;
    }
}

@media (min-width: 900px) {
    header svg {
        font-size: 2.5em !important;
    }
}

.icon-bar .fa-bars {
    float: left;
}

.logo {
    text-align: center;
}

.logo h2 {
    font-size: 2em;
}


/* 
//
//
//
BODY
//
//
*/

.about-desc {
    padding: 0 2em;
    text-align: left;
}

.card {
    width: 45%;
    flex-grow: 1;
    background-color: #F7f7f7;
    padding: 1em;
    margin: 1em;
}

.card-header {
    width: 100%;
    text-align: center;
}

.card-desc {
    width: 100%;
    text-align: center;
    padding-bottom: 1em;
    font-style: italic;
    border-bottom: 1px solid lightgrey;
}

.card-block {
    text-align: center;
    margin: 3em 0 3em 0;
}

.card-block button {
    color: #F7f7f7;
    font-size: 1.2em;
    outline: none;
    background-color: #63ABFB;
    border: none;
    border-radius: 5px;
    margin-top: 1em;
    width: 60%;
    padding: 1em;
    -webkit-box-shadow: 0 7px 0 0 #3B96FB;
    box-shadow: 0 7px 0 0 #3B96FB;
    -webkit-transition: all .05s ease;
    -moz-transition: all .05s ease;
    -ms-transition: all .05s ease;
    -o-transition: all .05s ease;
    transition: all .05s ease;
}

.card-block button:active {
    background: hotpink;
    outline: none;
    border: none;
    -webkit-box-shadow: 0 0 0 0 #3B96FB;
    box-shadow: 0 0 0 0 #3B96FB;
    -moz-transform: translateY(3px);
    -webkit-transform: translateY(3px);
    -o-transform: translateY(3px);
    -ms-transform: translateY(3px);
    transform: translateY(3px);
}

.card-block svg,
.card-block i {
    font-size: 3em;
    width: 100% !important;
}

.fa-react {
    color: #61dafb;
}

.devicon-webpack-plain {
    color: #8DD6F9;
}

.devicon-typescript-plain {
    color: #337ab7;
}


/* 
//
///
//////
///////FOOTER 
//
/////
*/

footer {
    text-align: center;
    margin: 1em auto;
    width: 70%;
}

.fa-heart {
    color: #3B96FB;
}


/*
//// 
/////
////////
////MODALS 
///
///
//*/

.tingle-modal-box {
    background-color: #FFF0F0;
}

@media (min-width: 541px) {
    .tingle-modal-box {
        width: 95% !important;
    }
}

@media (min-width: 1500px) {
    .tingle-modal-box {
        width: 65% !important;
    }
}

@media (max-width: 540px) {
    .tingle-modal-box p {
        font-size: 1em;
    }
    .tingle-modal-box h2 {
        font-size: 2em;
    }
}